*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
.grid{
    width: 400px;
    height: 600px;
    background-image: url("./images/doodlejumpbg.png");
    position: relative;
}

.doodle{
    width: 92px;
    height: 92px;
    background-image: url('./images/doodler-right.png');
    position: absolute;
    z-index: 5;
}

.plateform{
    width: 120px;
    height: 33px;
    background-image: url("./images/platform.png");
    position: absolute;
}